.navbar{
    display: inline-block;
    margin: auto;
    width: 480px;
}

.navbar span {
    margin: 0 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    list-style-type: none;
}

.navbar span:hover {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #fff;
}
